<h1>Listing invalidities</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Grade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invalidities.each do |invalidity| %>
      <tr>
        <td><%= invalidity.type %></td>
        <td><%= invalidity.grade %></td>
        <td><%= link_to 'Show', invalidity %></td>
        <td><%= link_to 'Edit', edit_invalidity_path(invalidity) %></td>
        <td><%= link_to 'Destroy', invalidity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invalidity', new_invalidity_path %>
