<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @invalidity.type %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @invalidity.grade %>
</p>

<%= link_to 'Edit', edit_invalidity_path(@invalidity) %> |
<%= link_to 'Back', invalidities_path %>
