<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @document.userId %>
</p>

<p>
  <strong>Docpath:</strong>
  <%= @document.docPath %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
